conversion/build/
conversion/dist/
.gradle/
build/
run/
*.log
__pycache__/
.tmp-test-server/
dist/
.tmp
.tmp/
dev-server/
dev-client/
.DS_Store
conversion/deps/
custom-mods/.gametest-cache/
custom-mods/.gametest-server/
.mixin.out/
cache/
config/
logs/
custom-mods/eula.txt
custom-mods/server.properties
custom-mods/usercache.json
custom-mods/ops.json
custom-mods/whitelist.json
custom-mods/banned-ips.json
custom-mods/banned-players.json
custom-mods/world/
